# CI
actions-runner

# IDE
.env

# Log Files
*.log
*.csv
*.json
total_latency.tsv

# Scratchpad
scratchpad*
temp_workspace*

# Model Checkpoints
bert_base_uncased

# unignore everything in the saved_* folder
!**/saved_*/**/*

# Compilation Artifacts
__pycache__
*.pyc
*.exe
*.S
*.o
build
